.hmbkp_running .add-new-h2 img { margin: 0 3px -4px -9px; opacity: 0.3; }
.button.disabled, .button[disabled], .button[disabled="disabled"] { cursor: default; }
.button.disabled:active, .button[disabled]:active, .button[disabled="disabled"]:active { background: #F2F2F2 url(../../../../wp-admin/images/white-grad.png) repeat-x; }
